.header{
<<<<<<< HEAD
    background-color: rgb(155, 198, 236);
    font-family: 'Courier New', Courier, monospace;
=======
    background-color: rgb(150, 101, 37);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
>>>>>>> cabecera
}